.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url(../../img/main-bg.png) center (center/cover) no-repeat;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 91px;
    color: #fff;
  }
  &__header { 
    font-size: 42px;
    line-height: 42px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 17px;
  }
  &__subheader { 
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 60px;
  }
  &__icons { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 424px;
    margin-bottom: 65px;
  }
  &__icon { 
    text-align: center;
    img {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
  &__btn {
    width: 300px;
    height: 50px;
    font-size: 16px;
    line-height: 25px;
  }
  &__link {
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    margin-top: 18px;
    text-transform: lowercase;
    a {
      text-decoration: underline;
      text-transform: uppercase;
      color: #fff;
    }
  }
}